#error {
    padding: 0 16px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    #error__head {
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 16px;
    }

    .error__body {
        line-height: 1.5;

        #error__body__link {
            color: $firstColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}