{% extends "base.twig" %}

{% block title %}Linky • Сокращайте ссылки{% endblock %}

{% block body %}
    <div class="container">
        <div id="logotype">
            <a id="logotype__link" href="{{ path_for('index') }}"><img id="logotype__image" src="./public/img/logotype.svg" alt=""></a>
        </div>
        <div id="form">
            <input id="form__address" name="address" type="text" placeholder="Что нужно сократить?" autocomplete="off">
            {% if link %}
                <div id="past">
                    <a id="past__link" href="{{ link }}" target="_blank">{{ link }}</a>
                    <i id="past__copy" class="fas fa-copy"></i>
                </div>
            {% endif %}
        </div>
        <p id="author">Разработал <a id="author__link" href="https://github.com/iluxaorlov" target="_blank">Илья Орлов</a></p>
    </div>
{% endblock %}