{% extends "base.twig" %}

{% block title %}Link • Сокращайте ссылки и отслеживайте трафик{% endblock %}

{% block body %}
    <header>
        <section class="container">
            <div id="logotype">
                <a id="logotype__link" href="{{ path_for('index') }}"><img id="logotype__image" src="/public/img/logo.svg"></a>
            </div>
            <form id="form" action="{{ path_for('create') }}" method="POST">
                <input id="form__address" type="text" name="address" placeholder="Введите сюда вашу ссылку" autocomplete="off">
                <button id="form__submit" type="submit">Сократить</button>
            </form>
        </section>
    </header>
    <section id="triangle"></section>
    <section id="output">
        <h2 id="output__head">Ваша короткая ссылка</h2>
        <a id="output__link" href="" target="_blank"></a>
    </section>
    <h1 id="description">Устали от длинных и некрасивых ссылок? Сокращайте! Такими ссылками удобно делиться в социальных сетях и легко запомнить.</h1>
{% endblock %}