#logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;

    #logotype__link {
        display: flex;
    }
    
    #logotype__image {
        height: 96px;
    }
}

#form {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25), 0 32px 64px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 96px;

    #form__address {
        padding: 16px;
        font-size: 16px;
        border: none;
        background: none;
        border-radius: 16px 16px 0 0;

        &::placeholder {
            color: $secondColor;
            font-weight: 400;
        }

        &:only-child {
            border-radius: 16px;
        }
    }

    .past {
        border-top: solid 1px $secondColor;
        display: flex;
        justify-content: space-between;

        .past__link {
            color: $firstColor;
            text-decoration: none;
            margin: 16px;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }
        }

        .past__copy {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            font-size: 16px;
            color: $firstColor;
            cursor: pointer;
            transition: translate 500ms linear;
            width: 51px;
        }
    }
}

#author {
    text-align: center;
    margin-bottom: 16px;
    //color: rgba(0, 0, 0, 0.5);
    font-size: 16px;

    #author__link {
        color: $firstColor;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }
}